/*Hoja de estilo*/

/*Id - estilo para la grilla de la cabecera*/
#grid-container-header{
    display: grid;
    grid-template-columns: 25% 75%;
}
/*id - estilo para el texto de el título de la cabecera*/
#headtitle {
    text-align: center;
}
/*Id - estilo para el texto del pie de página*/
#footnotetitle{
    text-align: center;
}
/*Id - estilo para la grilla de contenido*/
#gridBody{
    gap: 10px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
/*class - estilo para los contenedores de la grilla del contenido*/
.tl-br{
    text-align: right;
    background-color: mediumpurple;
    border-color: purple;
}
/*class - estilo con padding para el pie de página*/
.padding{
    background-color: rgb(255, 236, 172);
    border-radius: 12px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
}

/*class - estilo para las secciones de la grilla*/
.ct-cb{
    text-align: center;
    background-color: rgb(100, 212, 100);
    border-color: green;
}
/*class - estilo para las secciones de la grilla*/
.tr-bl{
    text-align: left;
    background-color: rgb(70, 167, 228);
    border-color: blue;
    
}
/*Agrupación - estilo para las cajas de la grilla*/
p,h2,#headtitle,#footnotetitle{
    color: rgb(51, 10, 80);
}
/*Agrupación - estilo para el contorno de los contenedores de las grillas de contenido + padding*/
.tl-br,.ct-cb,.tr-bl{
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    
}
/*Agrupación - estilo para la fuente de texto de la cabecera y pie de página*/
#headtitle, #footnotetitle{
    font-family: Arial;
}
/*etiqueta - estilo para el tamaño de las imágenes*/
img{
    width: auto;
    height: 70px;
}